<div class="d-flex align-items-center justify-content-center">
        <h1 id="menu">Menu</h1>
</div>

<div>
    <%= button_to "Logout", logout_path, method: :delete %>
</div>

<h1>HomeProfessor#index</h1>
<p>Find me in app/views/home_professor/index.html.erb</p>
