<div id="<%= dom_id professor %>">
  <p>
    <strong>Nome:</strong>
    <%= professor.nome %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= professor.email %>
  </p>

  <p>
    <strong>Nusp:</strong>
    <%= professor.nusp %>
  </p>

</div>
