<h1>Editing professor</h1>

<%= render "form", professor: @professor %>

<br>

<div>
  <%= link_to "Show this professor", @professor %> |
  <%= link_to "Back to professors", professors_path %>
</div>
