<div id="<%= dom_id professore %>">
  <p>
    <strong>Nome:</strong>
    <%= professore.nome %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= professore.email %>
  </p>

  <p>
    <strong>Nusp:</strong>
    <%= professore.nusp %>
  </p>

</div>
