<h1>Editing professore</h1>

<%= render "form", professore: @professore %>

<br>

<div>
  <%= link_to "Show this professore", @professore %> |
  <%= link_to "Back to professores", professores_path %>
</div>
