<h1 id="login">Sign In</h1>


<%= form_with url: sign_in_path do |form| %>
  
  
      <div class="mb-3">
      <%= form.label :nusp %>
      <%= form.text_field :nusp, class: "form-control", placeholder: "11840300" %>
      </div>
     

      <div class="mb-3">
      <%= form.submit "entrar", class: "btn btn-primary" %>
      </div>


<% end %>