<body>

<div class="d-flex align-items-center justify-content-center">

    <h1>Tela de Login</h1>

</div>

<div class="d-flex align-items-center justify-content-center">

 <%= render partial: "shared/navabar" %>

</div>

<div class="d-flex align-items-center justify-content-center">

    <img src="iStudy-semfundo.png">

</div>

</body>