<div id="<%= dom_id alternativa %>">
  <p>
    <strong>Alternativa:</strong>
    <%= alternativa.alternativa %>
  </p>

  <p>
    <strong>Correta:</strong>
    <%= alternativa.correta %>
  </p>

  <p>
    <strong>Questao:</strong>
    <%= alternativa.questao_id %>
  </p>

</div>
