<h1>Editing alternativa</h1>

<%= render "form", alternativa: @alternativa %>

<br>

<div>
  <%= link_to "Show this alternativa", @alternativa %> |
  <%= link_to "Back to alternativas", alternativas_path %>
</div>
