<h1>Página Inicial</h1>

 <p>
    Escolha uma das ações a seguir:
    <ul>
       <li><%= link_to "Cadastro", new_user_path %> </li>
          <li><%= link_to "Fazer Login", rooms_path %> </li>
    </ul>
</p>